<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/ALI_SieteYmedio/src/main/Partida7yMedio.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="main.Partida7yMedio"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="ALI_SieteYmedio"/>
</launchConfiguration>
